
    page-home {
        ion-card {
            position: relative;
            height: 400px;
            width: 400px;
          }
    
          .shade{
            position: absolute;
            left:0;
            right: 0;
            top:0;
            bottom: 0;
            z-index: 10;
            background: blueviolet;
            opacity: 0.3;
        }
        
    }

